# OSX
.DS_Store

# Claude Code
.claude

# IDE
.vscode
.idea

# Dependency directories
node_modules

# Project files not needed in published package
assets
scripts
src
test
.babelrc
.githooks
.prettierrc.json
eslint.config.js
tronbox.dev
CONTRIBUTING.md
